name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  luacheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Luacheck
        uses: lunarmodules/luacheck@v1
        with:
          args: . --config .luacheckrc
